* {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
}

.top, .footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

.hero {
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 150px;
    align-items: center;
}

.hero-text {
    width: 350px;
}

.squares {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: white;
    margin-top: 40px;
}

.box {
    border: 4px solid #3882F6;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

.square {
    flex-wrap: wrap;
    width: 150px;
    background-color: white;
}

.boxes, .subtext {
    background-color: white;
    color: #1F2937;
    text-align: center;
    margin-top: 5px;
}

.boxes {
    height: 400px;
}

.quote-text, .credit-text {
    background-color: #E5E7EB;
    color: black;
    width: 600px;
}

.quote-text {
    font-style: italic;
    font-size: 32px;
}

.credit-text {
    text-align: right;
    padding-top: 15px;
    font-size: 24px;
}

.button, .rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.button {
    height: 300px;
}

.rectangle {
    height: 150px;
    width: 800px;
    background-color: #3882F6;
    gap: 70px;
    border-radius: 10px;
}